body {
  margin: 0;
  padding: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1220px;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "SF Pro-regular";
  src: url(../Fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../Fonts/Roboto-Bold.ttf);
}

.header {
  max-width: 1120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.header-btnLog {
  margin-left: 85px;
  width: 97px;
  height: 40px;
  background-color: #1890FF;
  color: white;
  background-image: url(../icons/hooman.svg);
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "SF Pro-regular";
}

.header-btnCart {
  width: 97px;
  height: 40px;
  background-color: transparent;
  margin-left: 10px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  outline: none;
  background-repeat: no-repeat;
  background-image: url(../icons/shop-cart.svg);
  background-position-y: 12px;
  background-position-x: 7px;
  font-family: "SF Pro-regular";
  color: #595959;
}

.logo {
  background-image: url(../icons/logo.svg);
  width: 100px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
}

.logo p {
  margin-left: 40px;
  font-family: "Roboto-Regular";
}

.header-search {
  border: 1px solid #D9D9D9;
  width: 550px;
  height: 40px;
  background-image: url(../icons/searchHome.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  padding-left: 30px;
}

.header-search::-webkit-input-placeholder {
  color: #BFBFBF;
  font-family: "Roboto-Regular";
}

.header-search:-ms-input-placeholder {
  color: #BFBFBF;
  font-family: "Roboto-Regular";
}

.header-search::-ms-input-placeholder {
  color: #BFBFBF;
  font-family: "Roboto-Regular";
}

.header-search::placeholder {
  color: #BFBFBF;
  font-family: "Roboto-Regular";
}

.dot {
  background-color: #8C8C8C;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 25px;
}

.content {
  padding-top: 20px;
  max-width: 1120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.content-headline h2 {
  font-family: "Roboto-Bold";
  margin-right: 25px;
}

.content-headline-rating {
  width: 50px;
  color: #FFC107;
  font-family: "Roboto-Bold";
  margin-left: 5px;
}

.content-headline-discription {
  color: #8C8C8C;
  font-family: "Roboto-Regular";
}

.content-headline .dot {
  margin-left: 10px;
  margin-right: 10px;
}

.star {
  background-repeat: no-repeat;
  background-image: url(../icons/star.svg);
  background-position-y: center;
  width: 14px;
  height: 14px;
}

.content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 415px;
}

.card-img {
  background-repeat: no-repeat;
  background-image: url(../img/eel-default.png);
  width: 380px;
  height: 210px;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 24px;
}

.card-title {
  font-family: "Roboto-Regular";
  font-size: 24px;
}

.card-text {
  width: 235px;
  font-size: 18px;
  color: #8C8C8C;
  margin-top: -10px;
  font-family: "Roboto-Regular";
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -25px;
}

.card-btn {
  background-color: #1890FF;
  color: white;
  font-family: "SF Pro-regular";
  font-size: 15px;
  border: none;
  width: 110px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(../icons/shop-cart-white.svg);
  background-position-x: 90px;
  background-position-y: center;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  margin-left: 25px;
}

.card:nth-last-child(-n+3) {
  margin-top: 40px;
}

.card-price {
  font-family: "Roboto-Bold";
  margin-left: 40px;
  font-size: 20px;
}

.footer {
  max-width: 1120px;
  padding-top: 110px;
  padding-bottom: 70px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo {
  margin-left: 55px;
}

.footer-nav {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-text {
  margin-left: 15px;
  font-size: 18px;
  color: #595959;
  font-family: "Roboto-Regular";
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  padding-left: 350px;
}

.social .inst {
  background-repeat: no-repeat;
  background-image: url(../icons/insta.svg);
  width: 25px;
  height: 25px;
}

.social .facebook {
  background-repeat: no-repeat;
  background-image: url(../icons/facebook.svg);
  width: 25px;
  height: 25px;
  margin-left: 21px;
}

.social .vk {
  background-repeat: no-repeat;
  background-image: url(../icons/vk.svg);
  width: 35px;
  height: 25px;
  margin-left: 21px;
}
/*# sourceMappingURL=style.css.map */