body {
  margin: 0;
  padding: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1220px;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "SF Pro-regular";
  src: url(../Fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../Fonts/Roboto-Bold.ttf);
}

.header {
  max-width: 1120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.header-btnLog {
  margin-left: 85px;
  width: 97px;
  height: 40px;
  background-color: #1890FF;
  color: white;
  background-image: url(../icons/hooman.svg);
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "SF Pro-regular";
}

.header-btnCart {
  width: 97px;
  height: 40px;
  background-color: transparent;
  margin-left: 10px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  outline: none;
  background-repeat: no-repeat;
  background-image: url(../icons/shop-cart.svg);
  background-position-y: 12px;
  background-position-x: 7px;
  font-family: "SF Pro-regular";
  color: #595959;
}

.logo {
  background-image: url(../icons/logo.svg);
  width: 100px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
}

.logo p {
  margin-left: 40px;
  font-family: "Roboto-Regular";
}

.header-search {
  border: 1px solid #D9D9D9;
  width: 550px;
  height: 40px;
  background-image: url(../icons/searchHome.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  padding-left: 30px;
}

.header-search::-webkit-input-placeholder {
  color: #BFBFBF;
  font-family: "Roboto-Regular";
}

.header-search:-ms-input-placeholder {
  color: #BFBFBF;
  font-family: "Roboto-Regular";
}

.header-search::-ms-input-placeholder {
  color: #BFBFBF;
  font-family: "Roboto-Regular";
}

.header-search::placeholder {
  color: #BFBFBF;
  font-family: "Roboto-Regular";
}

.dot {
  background-color: #8C8C8C;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 25px;
}

.content {
  padding-top: 20px;
  max-width: 1120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.content-headline h2 {
  font-family: "Roboto-Bold";
  margin-right: 25px;
}

.content-headline-rating {
  width: 50px;
  color: #FFC107;
  font-family: "Roboto-Bold";
  margin-left: 5px;
}

.content-headline-discription {
  color: #8C8C8C;
  font-family: "Roboto-Regular";
}

.content-headline .dot {
  margin-left: 10px;
  margin-right: 10px;
}

.star {
  background-repeat: no-repeat;
  background-image: url(../icons/star.svg);
  background-position-y: center;
  width: 14px;
  height: 14px;
}

.content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 415px;
}

.card-img {
  background-repeat: no-repeat;
  background-image: url(../img/eel-default.png);
  width: 380px;
  height: 210px;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 24px;
}

.card-title {
  font-family: "Roboto-Regular";
  font-size: 24px;
}

.card-text {
  width: 235px;
  font-size: 18px;
  color: #8C8C8C;
  margin-top: -10px;
  font-family: "Roboto-Regular";
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -25px;
}

.card-btn {
  background-color: #1890FF;
  color: white;
  font-family: "SF Pro-regular";
  font-size: 15px;
  border: none;
  width: 110px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(../icons/shop-cart-white.svg);
  background-position-x: 90px;
  background-position-y: center;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  margin-left: 25px;
}

.card-price {
  font-family: "Roboto-Bold";
  margin-left: 40px;
  font-size: 20px;
}

.footer {
  max-width: 1120px;
  padding-top: 110px;
  padding-bottom: 70px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo {
  margin-left: 55px;
}

.footer-nav {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-text {
  margin-left: 15px;
  font-size: 18px;
  color: #595959;
  font-family: "Roboto-Regular";
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  padding-left: 350px;
}

.social .inst {
  background-repeat: no-repeat;
  background-image: url(../icons/insta.svg);
  width: 25px;
  height: 25px;
}

.social .facebook {
  background-repeat: no-repeat;
  background-image: url(../icons/facebook.svg);
  width: 25px;
  height: 25px;
  margin-left: 21px;
}

.social .vk {
  background-repeat: no-repeat;
  background-image: url(../icons/vk.svg);
  width: 35px;
  height: 25px;
  margin-left: 21px;
}

.cart {
  width: 780px;
  height: 550px;
  background-color: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid black;
  z-index: 1;
}

.cart h3 {
  font-family: "Roboto-Bold";
  font-size: 30px;
  text-decoration: underline;
}

.cart-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0px 0px 0px;
  max-width: 700px;
  margin: auto;
}

.cart-content {
  max-width: 700px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-footer {
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.closer {
  cursor: pointer;
}

.closer-stick {
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  background-color: black;
  margin-left: 550px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.closer-stick:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.product-name {
  text-decoration: underline;
  font-family: "Roboto-Regular";
  font-size: 18px;
}

.product-price {
  font-family: "Roboto-Bold";
  text-decoration: underline;
  margin-left: 280px;
  font-size: 20px;
}

.product-minus {
  background-color: transparent;
  color: #40A9FF;
  font-family: "SF Pro-regular";
  border: 1px solid #40A9FF;
  width: 71px;
  height: 32px;
  margin-left: 45px;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.product-plus {
  background-color: transparent;
  color: #40A9FF;
  font-family: "SF Pro-regular";
  border: 1px solid #40A9FF;
  width: 71px;
  height: 32px;
  margin-left: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.product-underline {
  width: 703px;
  background-color: #D9D9D9;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -35px;
}

.totalPrice {
  background-color: #262626;
  width: 100px;
  height: 53px;
  border-radius: 5px;
  color: white;
  text-align: center;
  border: none;
  font-family: "Roboto-Bold";
  font-size: 20px;
  text-decoration: underline;
}

.checkout {
  background-color: #1890FF;
  width: 140px;
  height: 45px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-family: "SF Pro-regular";
  font-size: 16px;
  margin-left: 300px;
  cursor: pointer;
  outline: none;
}

.cancel {
  border: 1px solid #D9D9D9;
  background-color: transparent;
  color: #595959;
  width: 140px;
  height: 45px;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
}

.Modal-bg {
  background-color: #00000070;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
}

.Modal-opened {
  background-color: #00000070;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
}

@media all and (max-width: 1920px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1920px;
    margin: 0px;
    padding: 0px;
  }
  .header {
    max-width: 1680px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
}

@media all and (max-width: 2580px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 2580px;
    margin: 0px;
    padding: 0px;
  }
  .header {
    max-width: 2340px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
}

@media all and (max-width: 1049px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1049px;
    margin: 0px;
    padding: 0px;
  }
  .header {
    max-width: 809px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
  .header-btnLog {
    margin-left: 85px;
    width: 97px;
    height: 40px;
    background-color: #1890FF;
    color: white;
    background-image: url(../icons/hooman.svg);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 6px;
    border: none;
    font-size: 10px;
    cursor: pointer;
    outline: none;
    font-family: "SF Pro-regular";
  }
  .header-btnCart {
    width: 97px;
    height: 40px;
    background-color: transparent;
    margin-left: 10px;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    outline: none;
    background-repeat: no-repeat;
    background-image: url(../icons/shop-cart.svg);
    background-position-y: 12px;
    background-position-x: 1px;
    font-size: 10px;
    font-family: "SF Pro-regular";
    color: #595959;
  }
  .content {
    padding-top: 20px;
    max-width: 809px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    argin-left: 40px;
  }
  .content-headline h2 {
    font-family: "Roboto-Bold";
    margin-left: -35px;
  }
  .content-headline-rating {
    width: 50px;
    color: #FFC107;
    font-family: "Roboto-Bold";
    margin-left: 5px;
  }
  .content-headline-discription {
    color: #8C8C8C;
    font-family: "Roboto-Regular";
  }
  .content-headline .dot {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */